@use 'src/styles/vars';

.rewards {
  width: 100%;
  height: 100%;
  padding: 2em;
  background-color: vars.$light-gray;
  text-align: center;
  
  &-title {
    margin-bottom: 1em !important;
  }

  &-datas-wrapper {
    width: 50%;
    margin: auto !important;
  }

  &-datas-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-datas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}