@use "src/styles/vars";

.landing-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1em 0;
  background-color: vars.$dark-gray;

  &-logo {
    display: flex;
    align-items: flex-end;
    margin-right: 2em;
  }

  &-left {
    display: flex;
    align-items: flex-end;
    
    .menu-link {
      font-size: 1.2em;
      font-weight: bold;
      color: black;

      &--active {
        font-size: 1.2em;
        font-weight: bold;
        color: vars.$flash-color;
      }
    }
  }
}