@use "src/styles/vars";

.landing-header {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.landing-left {
  display: flex;
  align-items: baseline;
}

.landing-logo {
  display: flex;
  align-items: flex-end;
  margin-right: 2em;
}

.menu-link--active {
  color: vars.$flash-color;
  border-bottom: 2px solid vars.$flash-color;
}